@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.right-align-menu {
  text-align: right;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}

.navbar {
  font-family: "Open Sans", sans-serif;
}

.navbar-dark {
  background-color: transparent;
  transition: background-color .5s ease 0s;
}

.navbar-dark.opaque {
  background-color: rgb(80,80,80, 0.9);

}

.navbar-brand {
	position: relative;
	transition: color 0.5s;
	font-size: 2vh; /*20px;*/
	letter-spacing: 0.18vw; /*3px;*/
	text-transform: uppercase;
	color: #999999 !important;
}

.navbar-brand.opaque {
	position: relative;
	transition: color 0.5s;
	font-size: 2vh; /*20px;*/
	letter-spacing: 0.18vw; /*3px;*/
	text-transform: uppercase;
	color: #F0FFF0 !important;
}

.navbar-brand:hover {
	color: #f4f4f4 !important;
}

.navbar-brand:hover {
	color: #f4f4f4;
}

.navbar-dark li a {
	color: #999999;
	font-size: 1.75vh; /*16px;*/
	letter-spacing: 0.18vw; /*3px;*/
  font-weight: 1;
	text-transform: uppercase;
	transition: color 0.5s;
}

.navbar-dark li a:hover {
	color: #f4f4f4;
	text-decoration: none;
	background-color: transparent !important;
}

.main-picture {
  height: 100vh;
  min-height: 400px;
  background-size:cover;
  background-image:url('assets/images/space1.jpg');
}

.main-content {
	position: absolute;
	top: 40vh;
	font-family: 'Montserrat', sans-serif;
	color: #f4f4f4;
	left: 350px;
}

.main-content h1 {
	font-size: 11.5vh; /*96px;*/
	letter-spacing: 0.55vw; /*2px;*/
	font-weight: 700;
	text-align: center;
}

.main-content h4 {
	/*font-size: 24px;*/
	letter-spacing: 0.18vw; /*3px;*/
	font-size: 2.20vh; /*18px;*/
	text-align: center;

}

.welcome {
	height: 103vh;
	/*background: linear-gradient(to bottom, #EFFBFF 0vh, #EFFBFF 75vh, #EFFBFF 75vh, #f4f4f4 100%);	*/
	background: #f8f8f8;
  padding-bottom: 400px;
}

.welcome h1 {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 7.37vh; /*72px;*/
	text-align: center;
	font-size: 5.73vh; /*56px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 700;
	margin-bottom: 0px;
  margin-top: -10px;
}

.welcome p {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-align: center;
	top: 10.25vh; /*100px;*/
	font-size: 2.25vh; /*22px;*/
	margin-bottom: 6vh; /*-12px;*/
	margin-top: -10px;
	color: #2f354a;
}

.welcome img {
	position: relative;
	top: 18vh; /*152px;*/
	width: 70%;
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  margin-top: -70px;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones and tablets: */

    .main-content h1 {
    	font-size: 9vh;
    }

    .welcome h1 {
    	top: 16vh; /*152px;*/
    }
    .welcome p {
    	top: 19vh;
    }
    .welcome img {
    	width: 100%;
		height: auto;
		top: 25vh;
    }

    .welcome {
    	height: 110vh;
    }
}

.three-tenets {
	height: 100vh;
	/*background: linear-gradient(#DCDCDC, white 95%);s*/
	/*background: linear-gradient(#EFFBFF, #f4f4f4 95%);*/
	background: #f3f3f3;
}

.three-tenets h1 {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 7.37vh; /*72px;*/
	text-align: center;
	font-size: 5.73vh; /*56px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 700;
}

.three-tenets h3 {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 7.37vh; /*72px;*/
	text-align: center;
	font-size: 2.45vh; /*24px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 700;
	color: #2f354a;
}

.three-tenets i {
	position: relative;
	border-radius: 5px;
	font-size: 5.73vh; /*56px;*/
	top: 9.42vh; /*92px;*/
	margin-bottom: 0px;
}

.three-tenets p {
	padding-left: 2.14vw; /*36px;*/
	padding-right: 2.14vw; /*36px;*/
	font-family: 'Open Sans', sans-serif;
	position: relative;
	top: 12.70vh; /*124px;*/
	font-size: 1.63vh; /*16px;*/
}

.three-tenets h4 {
	padding-left: 2.14vw; /*36px;*/
	padding-right: 2.14vw; /*36px;*/
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.12vw; /*2px;*/
	position: relative;
	top: 11.06vh; /*108px;*/
	font-size: 2.45vh; /*24px;*/
	font-weight: 100px;
	margin-bottom: 0px;
}

.three-tenets .container .tenet-row {
	position: relative;
	text-align: center;
	top: 3.68vh; /*36px;*/
}

.tenet-image-row {
	position: relative;
	top: 25vh; /*240px;*/
}

.tenet-image-row .tenet-image img {
	width: 90%;
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones and tablets: */
    .tenet-image-row .tenet-image img {
    	width: 0%;
		height: 0%;
		/*top: 25vh;*/
    }

    .tenet-image-row {
    	top: 0px;
    }

    .tenet-row .col-md-4 {
    	width: 100%;
    	padding-bottom: 52px;
    }
}

.projects {
	height: 100vh;
	/*background: linear-gradient(#DCDCDC, white 95%);s*/
	/*background: linear-gradient(#EFFBFF, #f4f4f4 95%);*/
	background: #f8f8f8;

}

/*.projects .row {
	position: relative;
	top: 14.5vh; /*224px;
	bottom: 0vh; */
	/*height: 62.8vh;
	}*/

.projects .ursa, .arktos {
	position: relative;
	top: 14.5vh; /*224px;*/
	/*bottom: 0vh;*/
	height: 62.8vh;
	/*height: 100%; /*600px;*/
	width: 50%;
	background-size: cover;
	opacity: 0.8;
	transition: opacity 0.5s;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.projects .ursa:hover, .arktos:hover{
	opacity: 1.0;
}

.projects .ursa {
	background-image: url(assets/images/proj1.jpg);

}

.projects .arktos {
	background-image: url(assets/images/proj2.jpg);
}

.projects h1 {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 7.37vh; /*72px;*/
	text-align: center;
	font-size: 5.73vh; /*56px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 700;
}

.projects h2 {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 7.37vh; /*72px;*/
	text-align: center;
	font-size: 2.45vh; /*24px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 700;
	color: #2f354a;
	padding-bottom: 8.60vh; /*84px;*/
	border-bottom: 0.02vh solid grey;
}

.projects h3 {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 21.51vh; /*210px;*/
	text-align: center;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.12vw; /*2px;*/
	font-size: 12.29vh; /*120px;*/
	color: white;
}

/*.projects p {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-align: left;
	top: 10vh;
	font-size: 18px;
}*/

@media only screen and (max-width: 1000px) {
    /* For mobile phones and tablets: */

    .projects h1 {
    	position: relative;
    	top: 8vh;
    }

    .projects h2 {
    	top: 8vh;
    	padding-bottom: 0px;
    	border-bottom: none;
    }

    .projects .ursa, .arktos {
		position: relative;
		top: 13vh; /*156px;*/
		/*min-height: 24vh;*/
		height: 34.1vh; /*600px;*/
		width: 100%;
		background-size: cover;
		opacity: 0.8;
		transition: opacity 0.5s;
		margin: 0px;
		margin-bottom: -20px;
	}

	.projects h3 {
		top: 15vh;
		font-size: 4vh;
	}

	.projects .row {
		margin: 0px;
	}

	.footer-bar {
		position: relative;
		bottom: 20px;
		height: 9vh;

	}

}

.ready-to-launch {
	margin-top: -20px;
	height: 50vh;
	background-image: url(assets/images/nebula2.jpg);
}

.ready-to-launch h1 {
	text-align: center;
	position: relative;
	top: 20vh;
	color: white;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 2px;
	font-size: 120px;
}

.footer {
	margin-top: -3.1vh;
  padding-top: 25px;
}

.footer .footer-content {
	height: 36vh;
	background-color: #161738;
	color: #f4f4f4;
}

.footer .footer-content-box {
	position: relative;
	padding-top: 6vh;
	padding-left: 1.42vw; /*24px;*/
	padding-right: 1.42vw; /*24px;*/
}

.footer .footer-content-box h5 {
	letter-spacing: 0.18vw; /*3px;*/
	font-weight: 500;
	line-height: 1.2;
	border-bottom: 0.03vh; /*0.3px*/ solid #6B6B6B;
	padding-bottom: 1.63vh; /*16px;*/
}

.footer-content .footer-content-box a {
	transition: color 0.5s;
	color: #f4f4f4;
}

.footer-content .footer-content-box a:hover {
	color: #6B6B6B;
	text-decoration: none;
}

.footer .footer-content-box p {
	padding-top: 1.63vh; /*16px;*/
	letter-spacing: 0.011vw; /*0.2px;*/
	font-weight: 200;
	line-height: 1.8;
	color: #6B6B6B;
	font-size: 1.33vh; /*13px;*/
}

.footer-content .footer-content-box i {
	position: relative;
	top: 1.02vh; /*10px;*/
	padding-right: 0.95vw; /*16px;*/
	border-radius: 5px;
	color: #6B6B6B;
	font-size: 3.27vh; /*32px;*/
	transition: color 0.5s;
}

.footer-content .footer-content-box i:hover {
	color: #f4f4f4;
}

.footer-content .footer-content-box .flickr-img-tbl {
	padding-top: 1.63vh; /*16px;*/
}

.footer-content .footer-content-box .flickr-img-tbl .flickr-img-row {
	padding-top: 0.51vh; /*5px;*/
}

.footer-content .footer-content-box .flickr-img-tbl .flickr-img-row .col-md-4 {
	padding: 0.20vh 0.11vw 0.20vh 0.11vw;
}

.footer-content .footer-content-box .flickr-img-tbl .flickr-img-row img {
	width: 100%;
	height: 12.29vh; /*120px;*/
}

.footer-bar {
	min-height: 7.37vh; /*72px;*/
	background-color: #202040;
	color: #f4f4f4;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.12vw; /*2px;*/
	font-size: 1.22vh; /*12px;*/
}

.footer-bar p {
	position: relative;
	top: 3.07vh; /*30px;*/
}

.footer-bar p a {
	color: #f4f4f4;
	transition: color 0.5s;
}

.footer-bar p a:hover {
	color: #6B6B6B;
	text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones and tablets: */
    .footer .footer-content, .footer .footer-content-box, .footer .footer-content-box h5, .footer-content .footer-content-box a, .footer .footer-content-box p, .footer .footer-content-box i,
    .footer-content .footer-content-box .flickr-img-tbl, .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row, .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row .col-md-4,
    .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row img {
    	height: 0px;
    	width: 0px;
    	position: relative;
    	top: 0px;
    	padding: 0px;
    	margin: 0px;
    	font-size: 0px;
    }

    .footer-bar {
    	background-color: #202040;
		color: #f4f4f4;
		margin-top: 2.45vh; /*24px;*/
    }
}

.faq  {
	position: relative;
	text-align: center;
  padding-bottom: 80px;
	top: 3.68vh; /*36px;*/
  font-family: 'Montserrat', sans-serif;
}

.faqtext{
  position: relative;
  text-align: center;
  top: 3.68vh; /*36px;*/
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;
}
.questionalt {
  background-color: #f8f8f8;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}

.questionalt2 {
  margin-bottom: 20px;
  background-color: #f8f8f8;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.question {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
}

.fontfix {
  font-family: 'Montserrat', sans-serif;
}

img.sociallogo {
  width: 100px;
  height: 100px;
  margin-bottom: 60px;
}

.aboutus {
  position: relative;
	text-align: center;
	top: 3.68vh; /*36px;*/
}

.join {
  position: relative;
	text-align: center;
	top: 3.68vh; /*36px;*/
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.joinblurb {
  position: relative;
	text-align: center;
	top: 3.68vh; /*36px;*/
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.upcomingevents{
  position: relative;
  text-align: center;
  top: 3.68vh; /*36px;*/
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
}

.welcomeblurb {
	line-height: 2em;
}

.spacet {
	margin-bottom: 200px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* you should see this code
