@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.main-picture {
  height: 100vh;
  min-height: 400px;
  background-size:cover;
  background-image:url('starlaunch.jpg');
}

.navbar {
	position: relative;
	margin-bottom: 0;
	font-family: "Open Sans", sans-serif;
	min-height: 72px;
}

.navbar-brand {
	position: relative;
	top: 8px;
	transition: color 0.5s;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #999999;
}

.navbar-brand:hover {
	color: #f4f4f4;
}

.navbar-light {
	position: fixed;
	margin-bottom: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	border: 0;
	height: 36px;
}

.navbar-light li a {
	color: #999999;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: color 0.5s;
}

.navbar-light li a:hover {
	color: #f4f4f4;
	text-decoration: none;
	background-color: transparent !important;
}

.navbar ul {
	position: relative;
	top: 8px;
}

.main-content {
	position: absolute;
	top: 30vh;
	font-family: 'Montserrat', sans-serif;
	color: #f4f4f4;
}

.main-content h1 {
	font-size: 96px;
	letter-spacing: 2px;
	font-weight: 700;
}

.main-content h4 {
	/*font-size: 24px;*/
	letter-spacing: 2px;
}

.footer-content {
	min-height: 360px;
	background-color: #161738;
	color: #f4f4f4;
}

.footer-content .footer-content-box {
	position: relative;
	top: 72px;
	width: 20vw;
}

.footer-content .footer-content-box h5 {
	letter-spacing: 2px;
	font-weight: 500;
	line-height: 1.2;
	border-bottom: 0.3px solid #6B6B6B;
	padding-bottom: 16px;
}

.footer-content .footer-content-box p {
	padding-top: 16px;
	letter-spacing: 0.2px;
	display: block;
	font-weight: 200;
	line-height: 1.8em;
	color: #6B6B6B;
	font-size: 13px;
}

.footer-content .footer-content-box i {
	border-radius: 5px;
	color: #0077B5;
	font-size: 36px;
}

.footer-content .footer-content-box #icon {
	color: #dd4b39;
}

.footer-content .footer-content-box i:hover, .footer-content .footer-content-box #icon:hover {
	color: white;
}

.footer-bar {
	min-height: 72px;
	background-color: #202040;
	color: #f4f4f4;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 2px;
	font-size: 12px;
}

.footer-bar p {
	position: relative;
	top: 30px;
}