.footer-content {
	min-height: 36.88vh; /*360px;*/
	background-color: #161738;
	color: #f4f4f4;
}

.footer-content .footer-content-box {
	position: relative;
	top: 4.91vh; /*48px;*/
	width: 18vw;
	display: inline-block;
	margin-right: 2vw;
	margin-left: 2vw;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.footer-content .footer-content-box h5 {
	letter-spacing: 0.18vw; /*3px;*/
	font-weight: 500;
	line-height: 1.2;
	border-bottom: 0.03vh; /*0.3px*/ solid #6B6B6B;
	padding-bottom: 1.63vh; /*16px;*/
}

.footer-content .footer-content-box a {
	transition: color 0.5s;
	color: #f4f4f4;
}

.footer-content .footer-content-box a:hover {
	color: #6B6B6B;
	text-decoration: none;
}

.footer-content .footer-content-box #flickr {
	margin-bottom: 3.89vh; /*38px;*/
}

.footer-content .footer-content-box p {
	padding-top: 1.63vh; 16px;
	letter-spacing: 0.011vw; /*0.2px;*/
	font-weight: 200;
	line-height: 1.8;
	color: #6B6B6B;
	font-size: 1.33vh; /*13px;*/
}

.footer-content .footer-content-box i {
	position: relative;
	top: 1.02vh; /*10px;*/
	padding-right: 0.95vw; /*16px;*/
	border-radius: 5px;
	color: #6B6B6B;
	font-size: 3.27vh; /*32px;*/
	transition: color 0.5s;
}

.footer-content .footer-content-box .flickr-img-tbl {
	/*display: inline-block;*/
	/*margin-top: 6px;*/
	position: relative;
	top: -0.40vh; /*-4px;*/
}

.footer-content .footer-content-box .flickr-img-row {
	display: inline-block;
	margin-bottom: 0.61vh; /*6px;*/
}

.footer-content .footer-content-box img {
	width: 4.28vw; /*72px;*/
	height: 7.37vh; /*72px;*/
	margin-right: 16px;
}

.footer-content .footer-content-box i:hover, .footer-content .footer-content-box #icon:hover {
	color: white;
}