/*@font-face {
  font-family: 'moon';
  src: url('http://stars.berkeley.edu/assets/fonts/Moon%20Light.otf');
}*/
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

* {
  box-sizing: border-box;
  /*font-family: 'moon';*/
  font-family: 'News Cycle';
}

nav{
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  border-bottom: thin solid black;
  left: 0;
  top: 0;
  text-align: right;
  background: rgba(0, 0, 0, 0.9);
  z-index: 20;
  border-bottom: solid #fdb515 1px;
}

.burger{
  display: none;
}

.logo {
  position: fixed;
  width: 72.92px;
  float: left;
  height: auto;
  top: 8px;
  left: 30px;
  z-index: 21;
}

.star {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  float: right;
  position: relative;
  vertical-align: middle;
  color: #FDB515;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 15px;
  margin-right: 20px;
}

.tab {
  margin: 0 15px;
  display: inline-block;
  position: relative;
  color: #FDB515;
}

.tab a{
  text-decoration: none;
  color: #FDB515;
  cursor: pointer;
}

#tab4 {
  transform:scale(1.2);
}

.tab:not(#tab4):hover {
  transform:scale(1.2);
  transition: 200ms;
  font-weight: bold;
  cursor: pointer;
}

body {
  margin: 0;
}

.background-container {
  background: url("../images/space.jpg");
  background-size: cover;
  background-position:right;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
}

.main-container:before {
  content: '';
  position: fixed;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  width: 100%;
  height: 100%;
  left: 0;
  top:  0;
  z-index: 1;
}

.doc {
  margin: 0 auto;
  z-index: 9;
  max-width: 760px;
}

.year {
  text-align: center;
  position: relative;
  font-size: 40px;
  margin-bottom: 40px;
  color: #FDB515;
  letter-spacing: 2px;
  z-index: 9;
}

.docoverlay {
  position: relative;
  color: #FDB515;
  font-size: 20px;
  text-align: center;
  padding: 5 20px;
  background-color: rgba(0,0,0,0.75);
  height: auto;
  width: 100%;
  line-height: 1.2em;
  border: #FDB515 4px solid;
  z-index: 9;
}

#years {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 20 0px;
  border-bottom: #FDB515 2px solid;
}

p:hover {
  transform:scale(1.1);
  transition: 200ms;
  font-weight: bold;
  cursor: pointer;
}

#disabled {
  transform: none;
  transition: none;
  font-weight: bold;
  pointer-events: none;
  color: darkred;
}

.msds {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 25px;
  border-bottom: #FDB515 solid 2px;
}

.docoverlaytitle {
  border: #FDB515 4px solid;
  border-bottom: #FDB515 solid 2px;
  border-top: #FDB515 solid 2px;
  background-color: rgba(0,0,0,1);
}

.docoverlay:nth-child(1) {
  border-top: #FDB515 solid 2px;
  border-bottom: #FDB515 solid 2px;
}

.docoverlay:nth-child(2) {
  border-top: #FDB515 solid 2px;
  border-bottom: #FDB515 solid 2px;
}

.docoverlay:nth-child(3) {
  border-top: #FDB515 solid 2px;
  border-bottom: #FDB515 solid 2px;
}

.docoverlay:nth-child(4) {
  border-top: #FDB515 solid 2px;
  border-bottom: #FDB515 solid 2px;
}

.docoverlay:nth-child(5) {
  border-top: #FDB515 solid 2px;
  border-bottom: #FDB515 solid 2px;
}

.docoverlay:nth-child(6) {
  border-top: #FDB515 solid 2px;
  border-bottom: #FDB515 solid 2px;
}

.docoverlay:nth-child(7) {
  border-top: #FDB515 solid 2px;
}

a {
  text-decoration: none;
  color: #FDB515;
}

.document {
  position: relative;
  top: calc(50% - 28.5px);
  text-align: center;
  font-size: 50px;
  z-index: 10;
  padding-bottom: 40px;
  margin-bottom: 30px;
  }
}

.hazard {
  margin: 10 0px;
}

.hazard:nth-child(13) {
  margin-bottom: 20px;
}

.icontext {
  text-align: center;
  z-index: 10;
}

.icon {
  position: relative;
  top: 10px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  z-index: 10;
}

.icon:hover {
transform: scale(1.2);
transition: 300ms;
}

.ocf {
  position: relative;
  float: right;
  font-size: 8px;
  font-weight: 100;
  color: #FFFFFF;
  padding: 10px;
}

@media screen  and (max-width: 768px) /* Tablet */ {
  .burger-nav {
    display:block;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 1);
    top: 0;
    border-bottom: 1px solid #fdb515;
  }

  .logo {
    display: absolute;
    top: 7.5px;
    width: 58px;
    left: 10px;
    z-index: 21;
  }

  .burger {
    display: block;
    position: absolute;
    height: 20px;
    width: auto;
    right: 10px;
    top: 15px;
    cursor: pointer;
  }

  nav {
    left: 0;
    margin: 0;
    padding: 0;
    height: 0;
    z-index: 20;
    width: 100%;
  }

  header .wrapper {
    width: 100%;
    padding: 0;
    left: 0;
    margin: 0;
  }

  .tab{
    margin-left: 0;
  }

  ul{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header nav ul{
    overflow: hidden;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 1);
  }

  header nav ul.open{
    height: auto;
    transition: 200ms ease-in;
  }

  header nav ul li{
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  header nav ul li a{
    color: #fbd515;
    padding: 6.5px;
    padding-left: 20px;
    border-bottom: 1px solid #fdb515;
    display: block;
    margin: 0;
    font-size: 16px;
  }

  #tab4 {
    transform:scale(1);
  }

  .tab:not(#tab4):hover {
    transform:scale(1);
  }
}

@media screen and (max-width: 600px) /* Mobile */ {

  .logo {
    display: absolute;
  }

  .ocf {
    position: relative;
    float: right;
    font-size: 0.01in;
    font-weight: 100;
    color: #FFFFFF;
    padding: 5px;
    line-height: 7px;
  }


  .doc {
    position: relative;
    margin: 30px 0px;
    width: 250px;
    height: 400px;
    margin-top: 190px;
    text-align: center;
    left: calc(50% - 125px);
    display: block;
  }
}
