<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./teamdescription.css">
  </head>

  <body>
    <div class = "teambox">
      <br>
      <div class="container">
          <h2>RECOVERY</h2>
          <p>The recovery subteam is responsible for ensuring vehicles land safely and all flight events are completed properly.</p>
      </div>

      <br>

      <div class="container team-leads">
        <div class="row">
          <img class="col-sm-3 round img-responsive" src= "../assets/images/omkarwaingankar.jpg">
          <ul class="col-sm-3 text-center">
            <li>Omkar Waingankar</li>
            <li>Recovery Lead</li>
            <li>EECS - 2021</li>
          </ul>
          <img class="col-sm-3 round img-responsive" src= "../assets/images/omkarwaingankar.jpg">
          <ul class="col-sm-3 text-center">
            <li>Omkar Waingankar</li>
            <li>Recovery Deputy</li>
            <li>EECS - 2021</li>
          </ul>
        </div>
      </div>

      <br>
      <br>

    </div>

    <a href = ../team.html> move </a>
  </body>


</html>
