@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


.main-content {
	position: relative;
	height: 115vh;
	margin-top: -115vh;
	font-family: 'Montserrat', sans-serif;
	color: #f4f4f4;
	z-index: 2;
	background-color: rgba(17, 34, 48, 0.555);
	text-align: center;
}

.title {
	font-family:  'Space Grotesk', sans-serif;
	font-size: 1000%;
	letter-spacing: 0.55vw;
	font-weight: 700;
	padding-top: 45vh;
}

.subtitle{
	font-family: 'Space Grotesk', sans-serif;
	letter-spacing: 0.18vw; /*3px;*/
	font-size: 200%
}


/* Style the video: 100% width and height to cover the entire window */
.main_video_container {
	position: relative;
	height: 100vh;
	width: 100%;
}

#myVideo {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
  

  /* Style the button used to pause/play the video */
  #myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
  }
  
  #myBtn:hover {
	background: #ddd;
	color: black;
  }

.background {
	background-color: #f3f3f3;
}

/* START OF WELCOME SECTION */

.welcome_container {
	display: block;
	overflow: auto;
	padding-top: 12.5vh;
	padding-bottom: 10vh;
	width:70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #f3f3f3;
}

.welcome_header {
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	text-align: left;
	font-size: 300%;
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 500;
	margin-bottom: 0px;

}



.welcome_p {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-align: left;
	font-size: 100%; /*22px;*/
	color: #2f354a;
	padding-top: 5.0vh;
}

.counter {
	padding-top: 7.5vh;
}

.counter_header {
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	text-align: left;
	font-size: 300%;
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 400;
	margin-bottom: 0px;
	text-align: center;
}

.counter_p{
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	text-align: left;
	font-size: 125%;
	letter-spacing: 0.12vw; /*2px;*/
	margin-bottom: 0px;
	text-align: center;
}

.welcome_photo_container{
	margin-top: 10.5vh;
	/* background-color: red; */
	width: 100%;
}

.welcome_photo {
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.three-tenets {
	display: block;
	overflow: auto;	
	padding-top: 7.5vh;
	background-color: #e6e6e6;
	/* background-color: #06067a */
}

.tenets_header {
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	text-align: center;
	font-size: 300%;
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 500;
}

.tenets_subtitle {
	font-family: 'Space Grotesk', sans-serif;
	padding-top: 1.5vh;
	position: relative;
	font-size: 150%; /*24px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 400;
	color: #2f354a;
	text-align: center;
}

.three-tenets i {
	position: relative;
	border-radius: 5px;
	font-size: 5.73vh; /*56px;*/
	margin-bottom: 0px;
}
.tenet_header{
	font-family: 'Space Grotesk', sans-serif;
	letter-spacing: 0.12vw; /*2px;*/
	position: relative;
	font-size: 200%; /*24px;*/
	font-weight: 500;
	padding-top: 2.5vh;
}

.three-tenets p {
	padding-left: 2.14vw; /*36px;*/
	padding-right: 2.14vw; /*36px;*/
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	font-size: 1.63vh; /*16px;*/
	padding-top:1vh;
	padding-bottom: 2.5vh;
}


.tenet-row {
	position: relative;
	text-align: center;
	padding-top:7.5vh /*36px;*/
}

/* START OF INTEREST SECTION  */

.interest_container {
	display: block;
	overflow: auto;
	padding-top: 7.5vh;
	padding-bottom: 10vh;
	width:70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #f3f3f3;
}
.interest_header {
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	text-align: left;
	font-size: 300%;
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 500;
	margin-bottom: 0px;
	padding-top:10vh;
}

.interest_p{
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-align: left;
	font-size: 100%; /*22px;*/
	color: #2f354a;
	padding-top: 4.0vh;
}

.interest_image_container{
	position: relative;
	padding-top: 10vh;
	
}

.interest_image {
	width: 80%;
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



@media only screen and (min-width: 10px) and (max-width: 767px) { /* MAX SIZE */
	.title {
		font-size:600%
	}
	
	.subtitle {
		font-size:125%;
		padding-left: 5vw;
		padding-right: 5vw;
	}

	/* START OF WELCOME SECTION */


	.welcome_photo_container {
		display: inherit;
	}

	/* START OF TENET SECTION */

	/* START OF INTEREST SECTION  */


	.interest_header {
		font-size: 275%
	}
	.interest_image {
		width: 100%;
		padding-bottom: 5vh;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) { /* MAX SIZE */
	.title {
		font-size:900%
	}
	
	.subtitle {
		font-size:200%;
		padding-left: 5vw;
		padding-right: 5vw;
	}

	/* START OF WELCOME SECTION */


	.welcome_header {
		font-size: 400%;
	}

	.welcome_p{
		font-size: 150%;
	}


	.welcome_photo_container {
		display: inherit;
	}

	/* START OF TENET SECTION */

	/* START OF INTEREST SECTION  */
	

	.interest_header {
		font-size: 400%
	}

	.interest_p {
		font-size: 150%
	}
	.interest_image {
		width: 100%;
		padding-bottom: 5vh;
	}
}

@media only screen and (min-width: 1200px) { /* MAX SIZE */
 
}