@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


.main-content {
	position: relative;
	height: 112.5vh;
	margin-top: -115vh;
	font-family: 'Montserrat', sans-serif;
	color: #f4f4f4;
	z-index: 2;
	background-color: rgba(43, 39, 16, 0.487);
	text-align: center;
}

.title {
	font-family:  'Space Grotesk', sans-serif;
	font-size: 1000% !important;
	letter-spacing: 0.55vw !important;
	font-weight: 700;
	padding-top: 40vh;
}

.subtitle{
	font-family: 'Space Grotesk', sans-serif;
	letter-spacing: 0.18vw; /*3px;*/
	font-size: 200%
}


/* Style the video: 100% width and height to cover the entire window */
.main_video_container {
	position: relative;
	height: 100vh;
	width: 100%;
}

#myVideo {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
  

  /* Style the button used to pause/play the video */
  #myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
  }
  
  #myBtn:hover {
	background: #ddd;
	color: black;
  }

.new_items {
	margin-top: 5vh;
	/* background-color: rgba(255, 0, 0, 0.456); */
	height: 40vh;
	padding-top: -20vh;
}
.background {
	background-color: #f3f3f3;
}
.welcome_container {
	height: 90vh;
	padding-top: 10vh;
	padding-bottom: 10vh;

	background-color: #f3f3f3;
}

.welcome_header {
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	text-align: center;
	font-size: 300%;
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 500;
	margin-bottom: 0px;
	padding-top:10vh;

}

.welcome_p_container {
	margin-top: 3.75vh;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

.welcome_p {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-align: center;
	font-size: 110%; /*22px;*/
	color: #2f354a;
}
.welcome_photo_container{
	margin-top: 7.5vh;
	margin-left: 5%;
	margin-left: 5%;
	/* background-color: red; */
	width: 90%;
}

.welcome_photo {
	position: relative;
	width: 50%;
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.three-tenets {
	height: 100vh;
	background-color: #f3f3f3;
}

.whatwedo_header {
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
	text-align: center;
	font-size: 300%;
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 500;
}

.whatwedo_subtitle {
	font-family: 'Montserrat', sans-serif;
	padding-top: 2.5vh;
	position: relative;
	font-size: 200%; /*24px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 700;
	color: #2f354a;
	text-align: center;
}

.three-tenets i {
	position: relative;
	border-radius: 5px;
	font-size: 5.73vh; /*56px;*/
	top: 9.42vh; /*92px;*/
	margin-bottom: 0px;
}

.three-tenets p {
	padding-left: 2.14vw; /*36px;*/
	padding-right: 2.14vw; /*36px;*/
	font-family: 'Open Sans', sans-serif;
	position: relative;
	top: 12.70vh; /*124px;*/
	font-size: 1.63vh; /*16px;*/
}

.three-tenets h4 {
	padding-left: 2.14vw; /*36px;*/
	padding-right: 2.14vw; /*36px;*/
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.12vw; /*2px;*/
	position: relative;
	top: 11.06vh; /*108px;*/
	font-size: 2.45vh; /*24px;*/
	font-weight: 100px;
	margin-bottom: 0px;
}

.three-tenets .container .tenet-row {
	position: relative;
	text-align: center;
	top: 3.68vh; /*36px;*/
}

.tenet-image-row {
	position: relative;
	top: 25vh; /*240px;*/
}

.tenet-image-row .tenet-image img {
	width: 90%;
	height: auto;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (min-width: 1200px) { /* MAX SIZE */
 
}