@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

a:link {color:black; text-decoration: none;}         /* Unvisited link  */
a:visited {color:black; text-decoration: none;} /* Visited link    */
a:hover {color:black; text-decoration: none;}  /* Mouse over link */
a:active {color:black; text-decoration: none;}  /* Selected link   */

.main-content {
  position: relative;
  top: 20vh;
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f4;
  }


.main-picture {
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image:linear-gradient(to bottom, rgba(5, 5, 5, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
     url('/assets/projectphotos/projectpage_cover.jpg');
    margin-top: -10vh;
}
  
.main-content h1 {
font-size: 10vh;
letter-spacing: 0.12vw;
font-weight: 700;
margin: -2.02vh 0px 0px 0px;

}
.main-content h2 {
letter-spacing: 0.18vw;
font-size: 1.84vh; 
}
  
@media only screen and (min-width: 10px){

.main-content {
  text-align: center;
}

.main-picture {
  height: 115vh;
  min-height: 400px;
  background-size:cover;
}
    
#title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 450%;
  letter-spacing: 0.18vw;
  font-weight: 700;
  padding-top: 10vh;
  padding-bottom: 0.  5vh;
}

#subtitle{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 5  00;
  letter-spacing: 0.18vw; /*3px;*/
  font-size: 100%
}

#preview_active_header{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 150%;
  letter-spacing: 0.18vw;
  font-weight: 700;
  padding-top: 10vh;
  padding-bottom: 1 .5vh;
}

#preview_active_desc{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 100%;
  letter-spacing: 0.18vw;
  font-weight: 200;

}

}
@media only screen and (min-width: 769px) and (max-width: 1199px){

#title {
  font-family:  'Space Grotesk', sans-serif;
  font-size: 650%;
  letter-spacing: 0.18vw;
  font-weight: 700;
  padding-top: 20vh;
}

#subtitle{
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.18vw; /*3px;*/
  font-size: 150%
}


#preview_active_header{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 150%;
  letter-spacing: 0.18vw;
  font-weight: 700;
  padding-top: 5vh;
  padding-bottom: 1 .5vh;
}
#preview_active_desc{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 100%;
  letter-spacing: 0.18vw;
  font-weight: 200;

}
}
@media only screen and (min-width: 1200px) { /* MAX SIZE */

.background {
  background-color: #f3f3f3;
}

.main-content {
  position: relative;
  top: 20vh;
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f4;

  display: block;
  text-align: center;
  


  justify-content: center;
  font-family: 'Open Sans', sans-serif;

  padding-left: 2.5vw;
  padding-right: 2.5vw;

  height: 90vh;

}

.main-picture{
  height: 110vh
}

#title {
  font-family:  'Space Grotesk', sans-serif;
  font-size: 650%;
  letter-spacing: 0.18vw;
  font-weight: 700;
  padding-top: 20vh;
}

#subtitle{
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.18vw; /*3px;*/
  font-size: 150%;
}


#preview_active_header{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 150%;
  letter-spacing: 0.18vw;
  font-weight: 700;
  padding-top: 5vh;
  padding-bottom: 1 .5vh;
}
.top {
  margin-top: 1.5vh;
}
.preview_active_desc{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 100%;
  letter-spacing: 0.18vw;
  font-weight: 200;

}

}

/* START OF CARDS AREA */

#main_background {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 10vh;
}

.current_project_box{    
  text-align: center;
  background-color: #f3f3f3;
}

#current_project_h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 400%;
  padding-top: 5.0vh;
  color: #33383E

}

#current_project_p {
  font-size: 150%;
  color:  #41484e

}


/* CARDS */

* {
  box-sizing: border-box;
}

.maincontain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 85vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Open Sans', sans-serif;

}

 .col {

  display: flex;
  height: 100%;
  background: transparent;
  min-height: 72.5vh;
  width: 30.333%;
  min-width: 350px;
  flex: 0 0 auto;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top:5vh;
 

}
.card{
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
  min-height: 100%;
  align-items: center;
  background-color: #efefef;
  border: 0px;
  border-radius: 0;
  transition: .5s ease;
  box-shadow: 0 0 10px #000000;
}

.card:hover{
  top: -0.5vh;
  transition: .5s ease;
  box-shadow: 0 0 12.5px #4040C6;
} 

.card:hover > .click_me{
  transition: .5s ease;
  display: block;
} 

.card_title{
  padding-top: 5vh;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  letter-spacing: 0.18vw;
  font-size: 350%;
  color: #2f3338
}

.card_subtitle{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  letter-spacing: 0.0vw;
  font-size: 150%;
  text-align: center;
  color: #41484e
}

.image {
  margin-top:5%;
  width: 65%;
  border-radius: 2.5%;
  border: 1px solid #C0C5C9;
}

.paragraph {
  color:inherit;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 125%;
  font-weight: 200;
  color: #33383E
  
}

.click_me {
  transition: 2s ease;
  display: none;
  font-family: 'Space Grotesk', sans-serif;
}


