@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.right-align-menu {
  text-align: right;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}

.navbar {
  font-family: "Open Sans", sans-serif;
}

.navbar-dark {
  background-color: transparent;
  transition: background-color .5s ease 0s;
}

.navbar-dark.opaque {
  background-color: rgb(80,80,80, 0.9);

}

.navbar-brand {
	position: relative;
	transition: color 0.5s;
	font-size: 2vh; /*20px;*/
	letter-spacing: 0.18vw; /*3px;*/
	text-transform: uppercase;
	color: #999999 !important;
}

.navbar-brand.opaque {
	position: relative;
	transition: color 0.5s;
	font-size: 2vh; /*20px;*/
	letter-spacing: 0.18vw; /*3px;*/
	text-transform: uppercase;
	color: #F0FFF0 !important;
}

.navbar-brand:hover {
	color: #f4f4f4 !important;
}

.navbar-brand:hover {
	color: #f4f4f4;
}

.navbar-dark li a {
	color: #999999;
	font-size: 1.75vh; /*16px;*/
	letter-spacing: 0.18vw; /*3px;*/
  font-weight: 1;
	text-transform: uppercase;
	transition: color 0.5s;
}

.navbar-dark li a:hover {
	color: #f4f4f4;
	text-decoration: none;
	background-color: transparent !important;
}

/* nav li {
    display: inline-block;
}

nav li a {
    color: red;
    font-size: 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #dd5771;
    background-color: red;
} */

.main-picture {
  height: 100vh;
  min-height: 400px;
  background-size:cover;
  background-image:url('space1.jpg');
}

.main-content {
	position: absolute;
	top: 30vh;
	font-family: 'Montserrat', sans-serif;
	color: #f4f4f4;
}

.main-content h1 {
	font-size: 9.83vh; /*96px;*/
	letter-spacing: 0.12vw; /*2px;*/
	font-weight: 700;
}

.main-content h4 {
	/*font-size: 24px;*/
	letter-spacing: 0.18vw; /*3px;*/
  font-size: 1.84vh; /*18px;*/
}

.Intro {
  display: block;
  position: relative;
  top: 2vh;
}
.Intro-Header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15vw;
  position: relative;
  top: 8vh;
}

.Intro-Description {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5vw;
}

.arktos-cover {
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 10vw;
}

.arktos-description-box {
  position = relative;
}

.arktos-description {
  position: relative;
  top: 5vh;
  letter-spacing: 2vw;
  font-size: 11vw;
  width:230px;
  height: 200px;
  color: white;
}

.arktos-subdescription {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 1vw;
  left: 1vh;
  letter-spacing: 0.12vw;
  font-size: 5vw;
  color: white;
  width: 150px;
}

.arktos-picture {
  height: 100vh;
  min-height: 400px;
  background-size:cover;
  background-image:url('Arctos-Cover-Mobile.jpg');
}

.Arktos-Features {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 2em;
}

.Features-Header {
  color: #545454;
  font-size: 8vw;
  letter-spacing: 0.25vw;
  position: relative;
  top: .1em
}

.Arktos-Features i {
  font-size: 7vh;
  color: #545454;
  position: relative;
  bottom: .25em;
}

.subdescription-list {
  position: relative;
  bottom: 1.2em;
  list-style-type: none;
}

.elem-properties {
  font-size: 4vw;
  text-align: center;
  position: relative;
  right: 1em;
}

.ursa-cover {
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 12vw;
}

.ursa-description-box {
  position = relative;
}

.ursa-description {
  position: relative;
  top: 5vh;
  letter-spacing: 2vw;
  font-size: 11vw;
  width:230px;
  height: 200px;
  color: white;
}

.ursa-subdescription {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 1vw;
  left: 1vh;
  letter-spacing: 0.12vw;
  font-size: 5vw;
  color: white;
  width: 150px;
}

.ursa-picture {
  height: 100vh;
  min-height: 400px;
  background-size:cover;
  background-image:url('Ursa-Cover-Mobile.jpg');
}

.Ursa-Features {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 12vw;
  /* right: 10vw; */
}

.Ursa-Features i {
  font-size: 7vh;
  color: #545454;
  position: relative;
  bottom: .25em;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .Intro-Header {
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    position: relative;
  }

  .Intro-Description {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    position: relative;
    top: 2vw;
    margin-top: 35px;
  }

  .arktos-description {
    position: relative;
    top: 10vh;
    letter-spacing: 2vw;
    font-size: 11vw;
    width:300px;
    height: 300px;
    color: white;
  }

  .arktos-subdescription {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 1vw;
    left: 1vh;
    letter-spacing: 0.12vw;
    font-size: 5vw;
    color: white;
  }

  .arktos-picture {
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image:url('Arctos-Cover-Tablet.jpg');
  }

  .Arktos-Features {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 12vw;
  }

  .Features-Header {
    color: #545454;
    font-size: 3vw;
    letter-spacing: 0.25vw;
    position: relative;
    top: .1em
  }

  .Arktos-Features i {
    font-size: 7vh;
    color: #545454;
    position: relative;
    bottom: .25em;
  }

  .subdescription-list {
    list-style-type: none;
    position: relative;
    bottom: 1.2em;
    right: 0.5vw;
  }

  .elem-properties {
    text-align: center;
    font-size: 1.5vw;
  }

  .ursa-cover {
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: 15vw;
  }

  .ursa-description-box {
    position = relative;
  }

  .ursa-description {
    position: relative;
    top: 5vh;
    letter-spacing: 2vw;
    font-size: 11vw;
    width:230px;
    height: 200px;
    color: white;
  }

  .ursa-subdescription {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 1vw;
    left: 1vh;
    letter-spacing: 0.12vw;
    font-size: 5vw;
    color: white;
    width: 150px;
  }

  .ursa-picture {
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image:url('Ursa-Cover-Tablet.jpg');
  }

  .Ursa-Features {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 15.5vw;
    /* right: 10vw; */
  }

  .Ursa-Features i {
    font-size: 7vh;
    color: #545454;
    position: relative;
    bottom: .25em;
  }
}

@media (min-width: 1025px) {
  .Intro-Header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12vw;
    position: relative;
    top: 2vw;
  }

  .Intro-Description {
    position: relative;
    top: 3vw;
    font-size: 2.1vw;
    font-family: 'Montserrat', sans-serif;
  }

  .arktos-description {
    position: relative;
    top: 10vh;
    letter-spacing: 2vw;
    font-size: 5vw;
    width:500px;
    height: 500px;
    color: white;
  }

  .arktos-subdescription {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 1vw;
    left: 1vh;
    letter-spacing: 0.12vw;
    font-size: 2vw;
    color: white;
  }

  .arktos-picture {
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image:url('Arctos-Cover-Desktop.jpg');
  }

  .Arktos-Features {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 10vw;
    /* right: 10vw; */
  }

  .Features-Header {
    color: #545454;
    font-size: 2vw;
    letter-spacing: 0.25vw;
    position: relative;
    top: 4.5vw;
    margin-bottom: 5px;
  }

  .Arktos-Features i {
    font-size: 10vh;
    color: #545454;
    position: relative;
    top: 3.5vw;
  }

  .subdescription-list {
    position: relative;
    top: 4.5vw;
    list-style-type: none;
  }

  /* #star-icon {
    position: relative;
    left: 4vw;
  } */

  .elem-properties {
    position: relative;
    right: 1vw;
    text-align: center;
    font-size: 0.9vw;
    margin-bottom: 10px;
  }

  .ursa-cover {
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: 21vw;
  }

  .ursa-description-box {
    position = relative;
  }

  .ursa-description {
    position: relative;
    top: 10vh;
    /* left: 45vw; */
    align: right;
    letter-spacing: 2vw;
    font-size: 5vw;
    width:100%;
    height: 500px;
    color: white;
  }

  .ursa-subdescription {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: left;
    top: 0.5vw;
    letter-spacing: 0.12vw;
    font-size: 2vw;
    color: white;
    width: 150px;
  }

  .ursa-picture {
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image:url('Ursa-Cover-Desktop.jpg');
  }

  .Ursa-Features {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    /* right: 10vw; */
  }

  .Ursa-Features i {
    font-size: 10vh;
    color: #545454;
    position: relative;
    top: 11vw;
  }

  .Ursa-Features .Features-Header {
    color: #545454;
    font-size: 2vw;
    letter-spacing: 0.25vw;
    position: relative;
    margin-bottom: 5px;
    top: 12vw;
  }

  .Ursa-Features .subdescription-list {
      position: relative;
      top: 12.5vw;
      list-style-type: none;
  }

  .footer {
    position: relative;
    top: 32vh;
  }

  .footer .footer-content {
    position: relative;
    top:12vw;
  	height: 36vh;
  	background-color: #161738;
  	color: #f4f4f4;
  }

  .footer .footer-content-box {
  	position: relative;
    /* top: 4vw; */
  	padding-top: 6vh;
  	padding-left: 1.42vw; /*24px;*/
  	padding-right: 1.42vw; /*24px;*/
  }

  .footer .footer-content-box h5 {
  	letter-spacing: 0.18vw; /*3px;*/
  	font-weight: 500;
  	line-height: 1.2;
  	border-bottom: 0.03vh; /*0.3px*/ solid #6B6B6B;
  	padding-bottom: 1.63vh; /*16px;*/
  }

  .footer-content .footer-content-box a {
  	transition: color 0.5s;
  	color: #f4f4f4;
  }

  .footer-content .footer-content-box a:hover {
  	color: #6B6B6B;
  	text-decoration: none;
  }

  .footer .footer-content-box p {
  	padding-top: 1.63vh; /*16px;*/
  	letter-spacing: 0.011vw; /*0.2px;*/
  	font-weight: 200;
  	line-height: 1.8;
  	color: #6B6B6B;
  	font-size: 1.33vh; /*13px;*/
  }

  .footer-content .footer-content-box i {
  	position: relative;
  	top: 1.02vh; /*10px;*/
  	padding-right: 0.95vw; /*16px;*/
  	border-radius: 5px;
  	color: #6B6B6B;
  	font-size: 3.27vh; /*32px;*/
  	transition: color 0.5s;
  }

  .footer-content .footer-content-box i:hover {
  	color: #f4f4f4;
  }

  .footer-content .footer-content-box .flickr-img-tbl {
  	padding-top: 1.63vh; /*16px;*/
  }

  .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row {
  	padding-top: 0.51vh; /*5px;*/
  }

  .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row .col-md-4 {
  	padding: 0.20vh 0.11vw 0.20vh 0.11vw;
  }

  .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row img {
  	width: 100%;
  	height: 12.29vh; /*120px;*/
  }

  .footer-bar {
    position: relative;
    top: 18vh;
  	min-height: 7.37vh; /*72px;*/
  	background-color: #202040;
  	color: #f4f4f4;
  	font-family: "Open Sans", sans-serif;
  	letter-spacing: 0.12vw; /*2px;*/
  	font-size: 1.22vh; /*12px;*/
  }

  .footer-bar p {
  	position: relative;
  	top: 3.07vh; /*30px;*/
  }

  .footer-bar p a {
  	color: #f4f4f4;
  	transition: color 0.5s;
  }

  .footer-bar p a:hover {
  	color: #6B6B6B;
  	text-decoration: none;
  }
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones and tablets: */
    .footer .footer-content, .footer .footer-content-box, .footer .footer-content-box h5, .footer-content .footer-content-box a, .footer .footer-content-box p, .footer .footer-content-box i,
    .footer-content .footer-content-box .flickr-img-tbl, .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row, .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row .col-md-4,
    .footer-content .footer-content-box .flickr-img-tbl .flickr-img-row img {
      height: 0px;
      width: 0px;
      position: relative;
      top: 0px;
      padding: 0px;
      margin: 0px;
      font-size: 0px;
    }

    .footer-bar {
      background-color: #202040;
    color: #f4f4f4; 
    margin-top: 2.45vh; /*24px;*/
    }

    .main-content h1 {
      font-size: 5vh;
    }

    .footer-bar {
      position: relative;
      top: 4vh;
      color: navy;
    }

    .footer-bar a {
      color: navy;
    }

}
