@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

a:link {color:black; text-decoration: none;}         /* Unvisited link  */
a:visited {color:black; text-decoration: none;} /* Visited link    */
a:hover {color:black; text-decoration: none;}  /* Mouse over link */
a:active {color:black; text-decoration: none;}  /* Selected link   */

.main-picture {
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image:linear-gradient(to bottom, rgba(5, 5, 5, 0.9), rgba(0, 0, 0, 0.2)),
     url("../images/nebula3.jpg");
}
.background {
  background-color: #f3f3f3;
  margin-top: 35vh;
}
.maincontain {
  display: flex;
  background-color: #f3f3f3;
  padding-top: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 10vh;
}

.card {
  box-shadow: 0 0 10px #000000;
}

.card:hover {
  top: -0.5vh;
  transition: .5s ease;
  box-shadow: 0 0 12.5px #4040C6;
}


#top_row {  
padding-top: 0vh;
}

.center_img {
vertical-align: middle;
}

  
@media only screen and (min-width: 10px){
    .main-picture {
      height: 115vh;
      min-height: 400px;
      background-size:cover;
    }
  
    .main-content {
      position: relative;
      top: 10vh;
      font-family: 'Open', sans-serif;
      color: #f4f4f4;
    }


    #title {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 450%;
      letter-spacing: 0.18vw;
      font-weight: 700;
      padding-top: 10vh;
      padding-bottom: 2.5vh;
    }

    #subtitle{
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 600;
      letter-spacing: 0.18vw; /*3px;*/
      font-size: 200%
    }
    .row_pitch{
      padding-top: 1.5vh;
      margin-bottom: 2.5vh;
      font-size: 150%;
      font-family: 'Space Grotesk', sans-serif;
    }


    #packet{
      font-family: 'Space Grotesk', sans-serif;
      letter-spacing: 0.18vw;
      display: inline-block;
      outline: none;
      cursor: pointer;
      font-size: 100%;
      line-height: 20px;
      font-weight: 600;
      border-radius: 8px;
      padding: 13px 23px;
      border: 1px solid #222222;
      transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
      background: #fff;
      color: #222222;
    
    }

    .card {
      font-family: 'Space Grotesk', sans-serif;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      height: 30vh;
      margin: 0.25vw;
      margin-top: 5vh;
    }
    .img_container {
      min-height: 75%;
      max-height: 10vh;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding-top: 10%;
    
    }
    
    .sponsor_img{
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    
    .desc_container{
      margin-top: 2.5vh;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1199px){
    .main-content {
      position: relative;
      top: 10vh;
      font-family: 'Montserrat', sans-serif;
      color: #f4f4f4;
    }
    
    #title {
      font-family:  'Space Grotesk', sans-serif;
      font-size: 650%;
      letter-spacing: 0.18vw;
      font-weight: 700;
      padding-top: 30vh;
    }

    .card {
      font-family: 'Space Grotesk', sans-serif;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      height: 25vh;
      margin: 0.25vw;
      margin-top: 5vh;
    }
    .img_container {
      min-height: 75%;
      max-height: 10vh;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding-top: 10%;
    
    }
    
    .sponsor_img{
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    .desc_container{
      margin-top: -0.5vh;
    }
    

    
    
}
@media only screen and (min-width: 1200px) { /* MAX SIZE */
    .main-content {
      position: relative;
      top: 20vh;
      font-family: 'Montserrat', sans-serif;
      color: #f4f4f4;

      display: block;
      text-align: center;
      
      /* background-color: rgb(207, 207, 207); */
    
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
    
      padding-left: 2.5vw;
      padding-right: 2.5vw;

    

    }
    .main-picture{
      height: 110vh
    }

    #title {
      font-family:  'Space Grotesk', sans-serif;
      font-size: 650%;
      letter-spacing: 0.18vw;
      font-weight: 700;
      padding-top: 20vh;
    }
    
    #subtitle{
      font-family: 'Space Grotesk', sans-serif;
      letter-spacing: 0.18vw; /*3px;*/
      font-size: 150%
    }
    .row_pitch{
      padding-top: 1.5vh;
      margin-bottom: 1.5vh;
      font-family: 'Space Grotesk', sans-serif;
    }
    .button_container {
      display: flex;
      align-items: center;
    }

    #packet{
      font-family: 'Space Grotesk', sans-serif;
      letter-spacing: 0.18vw;
      display: inline-block;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      border-radius: 8px;
      padding: 13px 23px;
      border: 1px solid #222222;
      transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
      background: #fff;
      color: #222222;
    
    }

    .card {
      font-family: 'Space Grotesk', sans-serif;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      height: 30vh;
      margin: 0.25vw;
      margin-top: 5vh;
    }
    .img_container {
      min-height: 75%;
      max-height: 10vh;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding-top: 10%;
    
    }
    
    .sponsor_img{
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    
    .desc_container{
      margin-top: 2.5vh;
    }

    
}

