@font-face {
    font-family: "Didact Gothic";
    src: url("../fonts/Didact_Gothic/DidactGothicRegular.ttf");
}

@font-face {
    font-family: "Gugi";
    src: url("../fonts/Gugi/Gugi-Regular.ttf");
}

* {
  font-family: 'Didact Gothic', sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 0px;
}

.navbar-brand{
  margin-bottom: 0px;
}

.navbar-static-top {
  position: fixed;
  font-size: 16px;
  font-weight: 300;
  border: 0;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  width: 72px;
  height: auto;
  position: center;
  margin: 0;
  margin-top: -12px;
}

.star {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tab {
  display: inline-block;
  position: relative;
}

.tab a{
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0.5;
}

.tab:hover {
  color: white;
}

.custom-break {
  height: 108px;
}

.team {
  background: rgba(0, 0, 0, 0.05);
}

.team-title {
  position: relative;
  text-align: center;
  font-family: 'Gugi', cursive;
  margin-top: -20px;
  padding-top: 16px;
}

.team-title h1 {
  font-size: 64px;
}

.team-icon-grid {
  margin-top: 24px;
}

.team-icon-grid-subtitle {
  text-align: center;
  padding-bottom: 24px;
  font-size: 20px;
}

.team-icon-grid-subtitle p {
  margin-bottom: 0px;
  font-weight: 300;
}

.team-icon-grid-box {
  /*background-color: blue;*/
}

.team-icon {
  text-align: center;
  padding: 24px 12px 24px 12px;
}

.team-icon img {
  height: 150px;
  width: 150px;
}

.team-icon p {
  /*font-family: 'Gugi', cursive;*/
  /*position: relative;*/
/*  padding-left: 25%;
  padding-right: 25%;*/
  padding-top: 6px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.03px;
}

#box1 {
  background-color: lightblue;
}

.subteam-box {
  padding: 24px 0px 48px 0px;
}

.subteam-content .lead-img {
  text-align: center;
}

.subteam-content .lead-img img {
  width: 300px;
  height: 300px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.subteam-content h2 {
  font-family: 'Gugi', cursive;
  font-size: 48px;
  padding: 0px 0px 12px 0px;
}

.subteam-content p {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 12px;
}

.subteam-content .team-lead-info h3 {
  font-family: 'Gugi', cursive;
  font-size: 24px;
}

.subteam-content .team-lead-info p {
  font-size: 18px;
}




