@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.main-picture {
  height: 100vh;
  min-height: 400px;
  background-size:cover;
  background-image:linear-gradient(to bottom, rgba(5, 5, 5, 0.9), rgba(0, 0, 0, 0.2)), url('../images/nebula2.jpg');
}


.main-content {
  position: relative;
  top: 20vh;
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f4;
}

.main-content .left {
  /*display: inline;*/
}

.main-content .right {
  /*display: inline;*/
  padding: 0px 1.42vw; /*24px;*/
  text-align: right;
}

.main-content .right a {
  text-decoration: none;
}

.main-content .right a:hover{
  text-decoration: none;
}

.main-content .right p {
  text-align: right;
  color: #999999;
  transition: color 0.5s;
  font-size: 2.04vh; /*20px;*/
  letter-spacing: 0.12vw; /*2px;*/
  font-weight: 400;
  margin-right: -0.8vw;
}

.main-content .right p:hover {
  color: #f4f4f4;
  font-weight: 700; 
}

.main-content h1 {
  font-size: 10vh; /*96px;*/
  letter-spacing: 0.12vw; /*2px;*/
  font-weight: 700;
  margin: -2.02vh 0px 0px 0px; /* UP */

}

.main-content h2 {
  /*font-size: 24px;*/
  letter-spacing: 0.18vw; /*3px;*/
  font-size: 1.84vh; /*18px;*/
}


@media only screen and (min-width: 10px){
  .main-picture {
    height: 105vh;
    min-height: 400px;
    background-size:cover;
    background-image:linear-gradient(to bottom, rgba(5, 5, 5, 0.9), rgba(0, 0, 0, 0.2)), url('../images/nebula2.jpg');
  }

  .main-content h1 {
    font-size: 7.5vh; /*96px;*/
    letter-spacing: 0.12vw; /*2px;*/
    font-weight: 700;
    margin: 0vh 0px 0px 0px; /* UP */
    margin-right: 20vw
  
  }   
  
  .main-content h3 {
    /*font-size: 24px;*/
    font-size: 2.5vh;
   margin-top: 1.5vh;
   margin-left: 0.75vw;
  }

  .main-content {
    position: relative;
    top: 10vh;
    font-family: 'Montserrat', sans-serif;
    color: #f4f4f4;
  }
  .main-content .left {
    /* display: inline; */
    margin-left: 2.5vh;
  } 
  .main-content .right {
    /* display: inline; */
    margin-top: 2vh;
    margin-left: 3.5vh;
    text-align: right;
  } 

  .main-content .right p {
    text-align: left;
    color: #999999;
    transition: color 0.5s;
    font-size: 2.04vh; /*20px;*/
    letter-spacing: 0.12vw; /*2px;*/
    font-weight: 400;
  }

  #air1, #prop1, #rec1, #bus1, #med1, #sim1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2.45vh; /*24px;*/
    width: 50%;
    border-radius: 15%;
    position: relative;
    top: 2vw;
    margin-top: 9vh
  }

  #ops1, #sys1, #out1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2.45vh; /*24px;*/
    width: 50%;
    border-radius: 15%;
    position: relative;
    top: 1vh;
    margin-top: 3vh
  }

  #pay1, #avi1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2.45vh; /*24px;*/
    width: 50%;
    border-radius: 15%;
    position: relative;
    top: -5vh;
    margin-top: 3vh
  }


 /* EXEC 10 */
 #exec {
  height: 165vh;
  background: #f8f8f8;
}

#exec h3 {
  text-align: center;
  margin-bottom: 4.91vh; /*48px;*/
  color: #000000;
}

.exec_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 40%;
  border-radius: 15%;
  position: relative;
}

#exec_text {
  text-align: center;
}
#exec_name {
  top: 1.01vh;
}
#exec_bio {
  top: 2.01vh;
}
#exec_icon {
  top: 3.01vh;
}

#pres {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 50%;
  position: relative;
}

#vpres {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 50%;
  position: relative;
}
/* SUBTEAM GEN */

div[class^="subteam"] {
  height: 100vh;
  background: #f3f3f3;
  padding-bottom: 64vh;
  text-align: left;
}

div[class^="subteam"] h3 { /* LEAD TITLES */
  position: relative;
  top: 6.55vh;
  font-size: 6.55vh;
  letter-spacing: 0.18vw;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 700;
}

div[class^="subteam"] h4 { /* LEAD DISC */
  position: relative;
  top: 7.55vh;
  font-size: 2.04vh;
  letter-spacing: 0.06vw;
  font-family: 'Ooen Sans', sans-serif;
  color: black;
  font-weight: 300;
  margin-bottom: 1.5vh;
}

div[class^="subteam"] h5 { /* LEAD NAMES */
  position: relative;
  top: 3.01vh;
  font-size: 2.25vh;
  letter-spacing: 0.06vw;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 300;
}


div[class^="subteam"] p { /* LEAD BIOS */
  position: relative;
  top: 3.01vh;
  font-size: 1.63vh;
  letter-spacing: 0.06vw;
  font-family: 'Ooen Sans', sans-serif;
  color: black;
  font-weight: 300;
}

div[class^="subteam"] .fa-envelope-square { /* GMAIL ICON */
  color: #dd4b39;
}

div[class^="subteam"] i { /* ICONS PLACEMENT */
  border-radius: 5px;
  color: #0077B5;
  font-size: 3.68vh;
  position: relative;
  top: 3.42vh;
  margin-right: 0.23vw;
  opacity: 1;
  transition: opacity 0.5s;
}

  /* SUBTEAM LEFT */
 
div[class="subteam-one-right"]{
  height: 100vh;
  text-align: center;
  background: #FAF9F6;
  padding-bottom: 30vh;
}

div[class="subteam-one-right"] h5 {
  top: 10vh;
}

div[class="subteam-one-right"] p  {
  top: 50vh;
}

div[class="subteam-one-right"] i  {
  top: 50vh;
}


/* SUBTEAM RIGHT */
div[class="subteam-one-left"] h3 h4 p{
  text-align: left
}

 
}
@media only screen and (min-width: 700px) and (max-width: 1199px){
  .main-content {
    position: relative;
    top: 10vh;
    font-family: 'Montserrat', sans-serif;
    color: #f4f4f4;
  }

  .main-content h1 {
    font-size: 10vh; /*96px;*/
    letter-spacing: 0.12vw; /*2px;*/
    font-weight: 700;
    margin: 5vh 0px   0px 0px; /* UP */
  
  }   
  
  .main-content h3 {
    /*font-size: 24px;*/
   margin-top: 1vh;
   margin-left: 0.75vw;
  }

  .main-content .right {
    /* display: inline; */
    margin-top: 2vh;
    margin-left: 3.5vh;
    text-align: right;
  } 

  .main-content .right p {
    text-align: left;
    color: #999999;
    transition: color 0.5s;
    font-size: 2.04vh; /*20px;*/
    letter-spacing: 0.12vw; /*2px;*/
    font-weight: 400;
  }

  #air1, #prop1, #rec1, #bus1, #med1, #sim1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2.45vh; /*24px;*/
    width: 80%;
    border-radius: 15%;
    position: relative;
    top: 2vw;
    margin-top: 9vh
  }

  #avi1, #pay1, #ops1, #sys1, #out1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2.45vh; /*24px;*/
    width: 80%;
    border-radius: 15%;
    position: relative;
    top: 2vw;
    margin-top: 9vh
  }

 /* EXEC 700 */
 #exec {
  height: 105vh;
  background: #f8f8f8;
}

#exec h3 {
  text-align: center;
  margin-bottom: 4.91vh; /*48px;*/
  color: #000000;
}

.exec_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 15%;
  position: relative;
}

#exec_text {
  text-align: center;
}
#exec_name {
  top: 1.01vh;
}
#exec_bio {
  top: 2.01vh;
}
#exec_icon {
  top: 3.01vh;
}

#pres {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 50%;
  position: relative;
}

#vpres {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 50%;
  position: relative;
}
/* SUBTEAM GEN */

div[class^="subteam"] {
  height: 60vh;
  background: #f3f3f3;
  padding-bottom: 64vh;
}

div[class^="subteam"] h3 { /* LEAD TITLES */
  position: relative;
  top: 6.55vh;
  font-size: 6.55vh;
  letter-spacing: 0.18vw;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 700;
}

div[class^="subteam"] h4 { /* LEAD DISC */
  position: relative;
  top: 7.55vh;
  font-size: 2.04vh;
  letter-spacing: 0.06vw;
  font-family: 'Ooen Sans', sans-serif;
  color: black;
  font-weight: 300;
}

div[class^="subteam"] h5 { /* LEAD NAMES */
  position: relative;
  top: 12.01vh;
  font-size: 2.25vh;
  letter-spacing: 0.06vw;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 300;
}

div[class^="subteam"] p { /* LEAD BIOS */
  position: relative;
  top: 12.01vh;
  font-size: 1.63vh;
  letter-spacing: 0.06vw;
  font-family: 'Ooen Sans', sans-serif;
  color: black;
  font-weight: 300;
}

div[class^="subteam"] .fa-envelope-square { /* GMAIL ICON */
  color: #dd4b39;
}

div[class^="subteam"] i { /* ICONS PLACEMENT */
  border-radius: 5px;
  color: #0077B5;
  font-size: 3.68vh;
  position: relative;
  top: 12.42vh;
  margin-right: 0.23vw;
  opacity: 1;
  transition: opacity 0.5s;
}

/* SUBTEAM LEFT */

div[class="subteam-one-right"]{
  height: 65vh;
  text-align: right;
  background: #FAF9F6;
  padding-bottom: 30vh;
}

/* SUBTEAM RIGHT */
div[class="subteam-one-left"] h3 h4 p{
  text-align: left
}

}

@media only screen and (min-width: 1200px) { /* MAX SIZE */
  .main-content {
    position: relative;
    top: 20vh;
    font-family: 'Montserrat', sans-serif;
    color: #f4f4f4;
  }
  
  .main-content .left {
    /*display: inline;*/
  }
  
  .main-content .right {
    /*display: inline;*/
    padding: 0px 1.42vw; /*24px;*/
    text-align: right;
    top:-30vh;
    right:0vw;
  }
  
  .main-content .right a {
    text-decoration: none;
  }
  
  .main-content .right a:hover{
    text-decoration: none;
  }
  
  .main-content .right p {
    text-align: right;
    color: #999999;
    transition: color 0.5s;
    font-size: 2.04vh; /*20px;*/
    letter-spacing: 0.12vw; /*2px;*/
    font-weight: 400;
    margin-right: -60.8vw;
  }
  
  .main-content .right p:hover {
    color: #f4f4f4;
    font-weight: 700;
  }
  .main-picture{
    height: 100vh
  }
  .main-content h1 {
    font-size: 10vh; /*96px;*/
    letter-spacing: 0.12vw; /*2px;*/
    font-weight: 700;
    margin-left: -15vh;
    margin-top: 5vh
  }
  
  .main-content h3 {
    /*font-size: 24px;*/
    margin-left: -7.75vw;
    letter-spacing: 0.18vw; /*3px;*/
    font-size: 1.84vh; /*18px;*/
  }
  
  #air1, #prop1, #rec1, #bus1, #med1, #sim1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2.45vh; /*24px;*/
    width: 80%;
    border-radius: 15%;
    position: relative;
    top: 2vw;
    margin-top: 9vh
  }

  #avi1, #pay1, #ops1, #sys1, #out1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2.45vh; /*24px;*/
    width: 80%;
    border-radius: 15%;
    position: relative;
    top: 2vw;
    margin-top: 9vh
  }
 /* EXEC 1200 */
#exec {
  height: 105vh;
  background: #f8f8f8;
}

#exec h3 {
  text-align: center;
  margin-bottom: 4.91vh; /*48px;*/
  color: #000000;
}

.exec_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 15%;
  position: relative;
}

#exec_text {
  text-align: center;
}
#exec_name {
  top: 1.01vh;
}
#exec_bio {
  top: 2.01vh;
}
#exec_icon {
  top: 3.01vh;
}

#pres {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 50%;
  position: relative;
}

#vpres {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5vh;
  margin-top: 7.5vh;
  width: 55%;
  border-radius: 50%;
  position: relative;
}

/* SUBTEAM GEN */

div[class^="subteam"] {
  height: 50vh;
  background: #f3f3f3;
  padding-bottom: 64vh;
  text-align: left;
}

div[class^="subteam"] h3 { /* LEAD TITLES */
  position: relative;
  top: 6.55vh;
  font-size: 6.55vh;
  letter-spacing: 0.18vw;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 700;
}

div[class^="subteam"] h4 { /* LEAD DISC */
  position: relative;
  top: 9.55vh;
  font-size: 2.04vh;
  letter-spacing: 0.06vw;
  font-family: 'Ooen Sans', sans-serif;
  color: black;
  font-weight: 300;
}

div[class^="subteam"] h5 { /* LEAD NAMES */
  position: relative;
  top: 12.01vh;
  font-size: 2.25vh;
  letter-spacing: 0.06vw;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 300;
}

div[class^="subteam"] p { /* LEAD BIOS */
  position: relative;
  top: 12.01vh;
  font-size: 1.63vh;
  letter-spacing: 0.06vw;
  font-family: 'Ooen Sans', sans-serif;
  color: black;
  font-weight: 300;
}

div[class^="subteam"] .fa -envelope-square { /* GMAIL ICON */
  color: #dd4b39;
}

div[class^="subteam"] i { /* ICONS PLACEMENT */
  border-radius: 5px;
  color: #0077B5;
  font-size: 3.68vh;
  position: relative;
  top: 12.42vh;
  margin-right: 0.23vw;
  opacity: 1;
  transition: opacity 0.5s;
}

/* SUBTEAM LEFT */

div[class="subteam-one-right"]{
  height: 65vh;
  text-align: right;
  background: #FAF9F6;
  padding-bottom: 30vh;
}

/* SUBTEAM RIGHT */
div[class="subteam-one-left"] h3 h4 p{
  text-align: left
}

}

