@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.navbar {
  position: relative;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 7.37vh; /*72px;*/
}

.navbar-brand {
  position: relative;
  top: 8px;
  transition: color 0.5s;
  font-size: 2.04vh; /*20px;*/
  letter-spacing: 0.18vw; /*3px;*/
  text-transform: uppercase;
  color: #999999;
}

.navbar-brand:hover {
  color: #f4f4f4;
}

.navbar-light {
  position: fixed;
  margin-bottom: 0;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);*/
  border: 0;
  height: 3.68vh; /*36px;*/
}

.navbar-light li a {
  color: #999999;
  font-size: 1.63vh; /*16px;*/
  letter-spacing: 0.18vw; /*3px;*/
  text-transform: uppercase;
  transition: color 0.5s;
}

.navbar-light li a:hover {
  color: #f4f4f4;
  text-decoration: none;
  background-color: transparent !important;
}

.navbar ul {
  position: relative;
  top: 8px;
}

.main-picture {
  height: 100vh;
  min-height: 400px;
  background-size:cover;
  background-image:url('../images/nebula2.jpg');
}

.main-content {
  position: relative;
  top: 30vh;
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f4;
}

.main-content .left {
  /*display: inline;*/
}

.main-content .right {
  /*display: inline;*/
  padding: 0px 1.42vw; /*24px;*/
  text-align: right;
}

.main-content .right p {
  text-align: right;
  color: #999999;
  transition: color 0.5s;
  font-size: 2.04vh; /*20px;*/
  letter-spacing: 0.12vw; /*2px;*/
  font-weight: 400;
}

.main-content .right p:hover {
  color: #f4f4f4;
  font-weight: 700;
}

.main-content h1 {
  font-size: 10vh; /*96px;*/
  letter-spacing: 0.12vw; /*2px;*/
  font-weight: 700;
  margin: -1.02vh 0px 0px 0px;
}

.main-content h4 {
  /*font-size: 24px;*/
  letter-spacing: 0.18vw; /*3px;*/
}

@media only screen and (max-width: 1000px) {

  .main-picture {
    height: 120vh;
  }

  .main-content {
    top: 12vh;
    text-align: center; 
  }

  .main-content .right {
    position: relative;
    top: 12vh;
  }

  .main-content .right p {
    text-align: center;
    font-size: 1.8vh;
  }

}